@import url('https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald');


@import url('https://fonts.googleapis.com/css?family=Cantarell|Catamaran|Signika');
/*font-family: 'Signika', sans-serif;*/
/*font-family: 'Catamaran', sans-serif;*/
/*font-family: 'Cantarell', sans-serif;*/

body {
    /*font-family: 'Roboto', serif;*/
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(114, 192, 114, 0.06);

    /*font-family: 'Oswald', sans-serif;*/
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

h5, h6 {
    font-family: 'Roboto', sans-serif;
}



.map{
  height: 600px;
}
.logo{
width:  200px
}
.MainDiv {
  /*margin: 10px;*/
  text-align: center;
}
.popupDiv{
  width:  240px
}

.popupImage{
  width:  200px
}

.column1 {
    float: left;
    width: 50%;

}
.column2 {
    float: left;
    width: 50%;

}

/* Clear floats after the columns */
.row:after {
    background-color: rgba(114, 192, 114, 0.06);

    content: "";
    display: grid;
    /*clear: both;*/
}

@media screen and (max-width: 1250px) {
    .partners {
        display: none;
    }
    .column1 {
        width: 100%;

    }

}